<def f='include/boost/tuple/detail/tuple_basic.hpp' l='65'/>
<def f='include/boost/tuple/detail/tuple_basic.hpp' l='67' ll='69'/>
<use f='include/boost/tuple/detail/tuple_basic.hpp' l='252'/>
<doc f='include/boost/tuple/detail/tuple_basic.hpp' l='62'>// -- if construct ------------------------------------------------
// Proposed by Krzysztof Czarnecki and Ulrich Eisenecker</doc>
