<def f='codebrowser/gtsam/linear/SubgraphBuilder.h' l='47' ll='62'/>
<use f='codebrowser/gtsam/linear/SubgraphBuilder.h' l='51' c='_ZN5gtsamlsERSoRKNS_8Subgraph4EdgeE'/>
<use f='codebrowser/gtsam/linear/SubgraphBuilder.h' l='64'/>
<size>16</size>
<mbr r='gtsam::Subgraph::Edge::index' o='0' t='size_t'/>
<mbr r='gtsam::Subgraph::Edge::weight' o='64' t='double'/>
<fun r='_ZNK5gtsam8Subgraph4Edge12isUnitWeightEv'/>
<fun r='_ZN5gtsam8Subgraph4Edge9serializeERT_j'/>
<use f='codebrowser/gtsam/linear/SubgraphBuilder.cpp' l='59' c='_ZN5gtsam8SubgraphC1ERKSt6vectorImSaImEE'/>
<use f='codebrowser/gtsam/linear/SubgraphBuilder.cpp' l='68' c='_ZNK5gtsam8Subgraph11edgeIndicesEv'/>
<use f='codebrowser/gtsam/linear/SubgraphBuilder.cpp' l='95' c='_ZN5gtsamlsERSoRKNS_8Subgraph4EdgeE'/>
<size>16</size>
