<dec f='include/c++/13/bits/stl_iterator.h' l='803' type='_Container *'/>
<use f='include/c++/13/bits/stl_iterator.h' l='815' u='w' c='_ZNSt21front_insert_iteratorC1ERT_'/>
<use f='include/c++/13/bits/stl_iterator.h' l='840' u='c' c='_ZNSt21front_insert_iteratoraSERKNT_10value_typeE'/>
<use f='include/c++/13/bits/stl_iterator.h' l='848' u='c' c='_ZNSt21front_insert_iteratoraSEONT_10value_typeE'/>
