<dec f='include/c++/13/bits/stl_iterator.h' l='913' type='_Container *'/>
<use f='include/c++/13/bits/stl_iterator.h' l='930' u='w' c='_ZNSt15insert_iteratorC1ERT_NS0_8iteratorE'/>
<use f='include/c++/13/bits/stl_iterator.h' l='968' u='c' c='_ZNSt15insert_iteratoraSERKNT_10value_typeE'/>
<use f='include/c++/13/bits/stl_iterator.h' l='977' u='c' c='_ZNSt15insert_iteratoraSEONT_10value_typeE'/>
