<dec f='include/c++/13/bits/stl_iterator.h' l='702' type='_Container *'/>
<use f='include/c++/13/bits/stl_iterator.h' l='714' u='w' c='_ZNSt20back_insert_iteratorC1ERT_'/>
<use f='include/c++/13/bits/stl_iterator.h' l='739' u='c' c='_ZNSt20back_insert_iteratoraSERKNT_10value_typeE'/>
<use f='include/c++/13/bits/stl_iterator.h' l='747' u='c' c='_ZNSt20back_insert_iteratoraSEONT_10value_typeE'/>
